<h1>About Me</h1>
<br />
<div class="aboutme">
  <p class="rude">My name is not important. What is important is what I'm going to do. I just fucking 
  hate this world. And the human worms feasting on its carcass. My whole life is just cold, 
  bitter hatred. And I always wanted to die violently. This is the time of vengeance and no 
  life is worth saving. And I will put in the grave as many as I can. It's time for me to kill. 
  And it's time for me to die. My genocide crusade begins here. <br />
  <br />--the Crusader (Not Important)</p>
</div>
<div class="textbox">
  <h3 class="dialogue"> Some people are born with very little; some are fortunate enough to have it all. <br /> 
  When I grew up, we didn't have much. I had to hustle to get what I wanted... but I had <br />
  that hunger for more. I didn't always make the right choices, but I learned from my mistakes. <br />
  <br />-- Curtis Jackson </h3>
</div>
