<h1>About Me</h1>
<h3> Some people are born with very little; some are fortunate enough to have it all. <br /> 
When I grew up, we didn't have much. I had to hustle to get what I wanted... but I had <br />
that hunger for more. I didn't always make the right choices, but I learned from my mistakes. <br />
<br />-- Curtis Jackson </h3>
