<h1>Welcome to the Incredible To-Do Rails App</h1>
<br />
<p>"Good day to you partner! I'm <strong>Gheed</strong> and I can already tell <br />
that I'll be your best friend in this forsaken camp. A spare weapon, <br />
some gold, a small gem, is all I want in exchange for the equipment you'll need <br />
on whatever quest you might undertake. <br />
Now, now, now... don't be shy. <br />
All of my items are guaranteed for life and come with a two day warranty!"<br />
--Gheed, Diablo</p>