<h1>Welcome to my Incredible To-Do Rails App</h1><br />
<div class="textbox">
  <p class="dialogue">"Good day to you partner! I'm <strong>Gheed</strong>, and I can already tell
  that I'll be your best friend in this forsaken camp. A spare weapon,
  some gold, a small gem, is all I want in exchange for the equipment you'll need
  on whatever quest you might undertake.
  Now, now, now... don't be shy.
  All of my items are guaranteed for life and come with a two day warranty!"<br />
  --Gheed, Diablo</p>
</div>