// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bodywrap {
  font-family: "Amatic SC", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  border: 1px solid lightcoral;
  margin: 20px;
  padding: 15px;
  background-color: lightgray;
}

h1 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: 20px;
  color: black;
  text-align: center;
}

.dialogue {
  font-family: "Titillium Web", sans-serif;
  font-size: 17px;
  color: black;
  text-align: center;
}

.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 50px;
  border: 1px solid black;
}

.rude {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  margin: 40px;
  padding: 40px;
  border: 1px dotted goldenrod;
  text-align: center;
}